*, *::after, *::before {
    box-sizing: border-box;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}   

h1, label {
    font-weight: bold;
    text-align:center;
    color: #061E1E;
    margin-bottom: 10px;
}

h1 {
    font-size: 5.5rem;
    color: rgb(32, 147, 147);
    background-color: #061E1E;
    margin-top: 0;
}

label {
    font-size: 2.5rem;
}

.content-wrapper {
    background-color: rgb(32, 147, 147);
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.game-board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    background-color: rgb(26, 87, 87);
    margin-block-start: 25%;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(26, 87, 87);
    border: 3px solid #061E1E;
}

.cell:first-child, 
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3), 
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(1), 
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:last-child, 
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.center {
    background-color: rgb(26, 87, 87);
    width: 30rem;
}

.game-title {
    
}

.player {
    padding: 80px 20px 40px 20px; 
    height: 100%;
    width: 20%;
    margin-bottom: 0;
}

.wins {
    border-bottom: solid 2px #061E1E;
}

.thief-icon {
    display: flex;
    flex-direction: row;
    justify-content:center;
    transform: scale(.55);
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.detective-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(.3);
    width: auto;
    height: auto;
    padding: 0;
}

.box {
    border: 2px solid black
}