*, *::after, *::before {
    box-sizing: border-box;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   

h1, label {
    font-weight: bold;
    text-align:center;
    color: #061E1E;
    margin-bottom: 10px;
}

h1 {
    font-size: 5.5rem;
    color: rgba(244, 245, 228, .8);
    background-color: black;
    margin-top: 0;
}

label {
    font-size: 2.75rem;
}

button {
    background-color: rgb(32, 147, 147);
    border: solid 4px #061E1E;
    color: #061E1E;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    border-radius: 4px;
    padding: 10px 20px ;
    cursor: pointer;
}

button:hover {
    background-color: #061E1E;
    border: solid 4px rgb(32, 147, 147);
    color: rgb(32, 147, 147);
    cursor: pointer;
}

.content-wrapper {
    background-color: rgb(32, 147, 147);
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-image: linear-gradient(rgba(244, 245, 228, .6), rgba(26, 87, 87, .5), rgba(6, 30, 30, .8));
}

.game-text {
    font-size: 45px;
    color: black;
    text-shadow: 2px 2px rgba(244, 245, 228, .4);
}

.game-board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    background-color: rgb(26, 87, 87);
    /* margin: 0; */
    margin-block-start: 25%;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(26, 87, 87);
    border: 3px solid #061E1E;
}

.cell.sleuth,
.game-board.sleuth .cell:not(.sleuth):not(.hooligan):hover {
    content: url('assets/detective.svg');
    padding: 15px;
}

.cell.hooligan,
.game-board.hooligan .cell:not(.sleuth):not(.hooligan):hover  {
    content: url('assets/Burgler.svg');
    padding: 10px;
}

.cell.sleuth, 
.cell.hooligan {
    cursor: not-allowed;
}

.cell:hover {
    background-color: rgba(6, 30, 30, .2);
}

.cell:first-child, 
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3), 
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(1), 
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:last-child, 
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.center {
    background-color: rgb(26, 87, 87);
    width: 30rem;
    border: ridge 3px rgba(244, 245, 228, .8);
}

.player {
    padding: 80px 20px 40px 20px; 
    height: 100%;
    width: 20%;
    margin-bottom: 0;
    
}

.wins {
    font-size: 30px;
    border-bottom: solid 2px #061E1E;
}

.thief-icon {
    display: flex;
    flex-direction: row;
    justify-content:center;
    transform: scale(.65);
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.detective-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(.38);
    width: auto;
    height: auto;
    padding: 0;
}



/* .box {
    border: 2px solid black
} */

.winning-message {
    display: none;
    position: fixed;
    top: 50px;
    left: 250px;
    right: 250px; 
    bottom: 50px;
    border: solid 40px rgba(6, 30, 30, .8);
    background-color: rgba(26, 87, 87, .9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winning-message.show {
    display: flex;
}

.winning-text {
    color: #061E1E;
    font-size: 100px;
    font-weight: bold;
    padding: 50px;
    margin-bottom: 25px;
}

.player-turn {
    padding-top: 20px;
    margin: 15px 100px;
    font-size: 40px;
}